{% extends "base.html" %}
{% block title %}Stage - Portfolio Jules Bouscaud{% endblock %}

{% block content %}
<section class="about-section">
    <h2>Ce que je recherche</h2>
    <div class="search-box">
        <p>Je suis à la recherche d'un stage de fin d'études de minimun 3 mois et de maximum 6 mois
            pour valider mon master d'économétrie-statistiques. Voici mes principaux critères de recherche :
        </p>
        <ul>
            <li>Nantes et ses alentours</li>
            <li>Domaine de la data engineering ou de la data science</li>
            <li>Mise en place de pipelines de data</li>
            <li>Modélisation statistique</li>
        </ul>
    </div>
</section>
{% endblock %}